.body {
    background: #c2e0ff;
}

.tabContainer {
    display: flex;
    background: rgba(255, 255, 255, 0.6);
    padding: 0px 5px;
    box-shadow: 0px -1px #888 inset;
    overflow-y: auto;
    white-space: nowrap;
}

.tab {
    padding: 10px;
    border: 1px solid #888;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.tab:hover {
    background: #5897fb;
    color: white;
}

.tabSelected {
    background: #c2e0ff;    
    border-bottom: none;
}

.contentContainer {
    width: 100%;    
}