<div class="modal-themgiaovien">
  <div class="modal-content">
    <div class="modal-header">
      <!-- <span class="close">&times;</span> -->
      <h2>Thêm Giáo Viên</h2>
    </div>
    <div class="modal-body">
      <ul style="list-style-type:none">
        <form id="myform_them_giao_vien">
          <input type="file" name="Hình Ảnh" hidden id="hinhanh_upload_them_giao_vien">
          <img src="img/image_upload.png" name="uploadimage">
          <li><label for="Họ Và Tên">Họ Và Tên: </label><br><input type="text" name="Họ Và Tên" value=""></li>
          <li><label for="Số Điện Thoại">Số Điện Thoại: </label><br><input type="text" name="Số Điện Thoại" value=""></li>
          <li><label for="Địa Chỉ">Địa Chỉ: </label><br><input type="text" name="Địa Chỉ" value=""></li>
          <li><label for="Email">Email (Lưu ý chỉ sử dụng gmail): </label><br><input type="text" name="Email" value=""></li>
          <li><label for="CMND">CMND: </label><br><input type="text" name="CMND" value=""></li>
        </form>
      </ul>
    </div>
    <div class="modal-footer">
      <input type="button" name="cancel_register" value="Hủy" class="btncancelregister" id="btncancelregister">
      <input type="button" name="submit_register" value="Đồng Ý" class="btncompletedregister" id="btncompletedregister">
    </div>
  </div>
  <div class="daithem">
  </div>
</div>
