<div class="loading">
  <div class="backgroundloading">
    <img src="img/loading.gif" alt="">
  </div>
</div>
<div class="loading2">
  <div class="backgroundloading">
    <img src="img/loading.gif" alt="">
  </div>
</div>