<div class="menu_right_click_conten" value="" title="">
 <ul>
   <button id="btnrefresh_menuright" title="Làm Mới"><li><i class="fa fa-refresh fa-lg" aria-hidden="true">&nbsp</i>Làm Mới</li></button>
   <button id="btnthem_menuright" title="Thêm"><li><i class="fa fa-plus-circle fa-lg" aria-hidden="true">&nbsp</i>Thêm</li></button>
   <button id="btnsua_menuright" title="Sửa"><li><i class="fa fa-pencil-square fa-lg" aria-hidden="true">&nbsp</i>Sửa</li></button>
   <button id="btnthongtin_menuright" title="Thông Tin"><li><i class="fa fa-info-circle fa-lg" aria-hidden="true">&nbsp</i>Thông Tin</li></button>
   <button id="btnxoa_menuright" title="Xóa"><li><i class="fa fa-trash fa-lg" aria-hidden="true">&nbsp</i>Xóa</li></button>

   <button id="btndangkymonhoc_menuright" title="Đăng Ký Môn Học"><li><i class="fa fa-graduation-cap fa-lg" aria-hidden="true">&nbsp</i>Đăng Ký Môn Học</li></button>
   <button id="btnnghi_menuright" title="Nghỉ"><li><i class="fa fa-times-circle fa-lg" aria-hidden="true">&nbsp</i>Nghỉ</li></button>

   <button id="btngoi_menuright" title="Gọi Điện"><li><i class="fa fa-volume-control-phone fa-lg" aria-hidden="true">&nbsp</i>Gọi Điện</li></button>
   <button id="btngoilai_menuright" title="Gọi Lại"><li><i class="fa fa-volume-control-phone fa-lg" aria-hidden="true">&nbsp</i>Gọi Lại</li></button>
   <button id="btngoimoi_menuright" title="Gọi Mới"><li><i class="fa fa-phone fa-lg" aria-hidden="true">&nbsp</i>Gọi Mới</li></button>
   <button id="btngoikehoach_menuright" title="Gọi Kế Hoạch"><li><i class="fa fa-phone fa-lg" aria-hidden="true">&nbsp</i>Gọi Kế Hoạch</li></button>

   <button id="btntraibuoi_menuright" title="Xếp Lịch Trái Buổi"><li><i class="fa fa-exchange fa-lg" aria-hidden="true">&nbsp</i>Xếp Lịch Trái Buổi</li></button>
   <button id="btnbangdiem_menuright" title="Bảng Điểm"><li><i class="fa fa-th-list fa-lg" aria-hidden="true">&nbsp</i>Bảng Điểm</li></button>
   <button id="btnketthuclophoc_menuright" title="Kết Thúc Lớp Học"><li><i class="fa fa-times-circle fa-lg" aria-hidden="true">&nbsp</i>Kết Thúc Lớp Học</li></button>

   <button id="btnsubtask_menuright" title="Phân Việc"><li><i class="fa fa-code-fork fa-lg" aria-hidden="true">&nbsp</i>Phân Việc</li></button>
   <button id="btnreport_menuright" title="Báo Cáo"><li><i class="fa fa-reply fa-lg" aria-hidden="true">&nbsp</i>Báo Cáo</li></button>

   <button id="btnpay_menuright" title="Đóng Tiền Học"><li><i class="fa fa-money fa-lg" aria-hidden="true">&nbsp</i>Đóng Tiền Học</li></button>
   <button id="btnpayanother_menuright" title="Thu Phí Khác"><li><i class="fa fa-money fa-lg" aria-hidden="true">&nbsp</i>Thu Phí Khác</li></button>
   <button id="btnpayowe_menuright" title="Đóng Tiền Nợ"><li><i class="fa fa-money fa-lg" aria-hidden="true">&nbsp</i>Đóng Tiền Nợ</li></button>   

   <button id="btntakecare_menuright" title="Chăm Sóc Khách Hàng"><li><i class="fa fa-child fa-lg" aria-hidden="true">&nbsp</i>Chăm Sóc Khách Hàng</li></button>
   <button id="btnresponse_menuright" title="Phản Hồi"><li><i class="fa fa-reply fa-lg" aria-hidden="true">&nbsp</i>Phản Hồi</li></button>
 </ul>
</div>
